<img src="{{ cover_image }}" />

<h1>{{ title }}</h1>

<h2>{{ original_title }}</h2>

<dl>
    <dt>Жанр:</dt>
    <dd>
        {{#genre}}
            <span>{{ this }}</span>
        {{/genre}}
    </dd>

    <dt>Год:</dt>
    <dd>
        <span>{{ year }}</span>
    </dd>

    <dt>Страна:</dt>
    <dd>
        <span>{{ country }}</span>
    </dd>

    <dt>Режиссер:</dt>
    <dd>
        <span>{{ director }}</span>
    </dd>

    <dt>В ролях:</dt>
    <dd>
        {{#actors}}
            <span>{{ this }}</span>
        {{/actors}}
    </dd>
</dl>

<div>
    {{ description }}
</div>
